MTC_DATABASE_URL="postgresql://smarthr:CHANGE_ME@192.168.10.69:5432/smarthr?schema=public"
SESSION_COOKIE_SECURE="true"
NEXT_SERVER_ACTIONS_ENCRYPTION_KEY="GENERATE_A_STABLE_32_BYTE_BASE64_KEY"
MTC_SEED_ADMIN_PASSWORD="CHANGE_ME_BEFORE_FIRST_SEED"
